.nav
{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.tags
{
    display: flex;
    gap: 30px;
    
}
.section
{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.content
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.head
{
    font-size: 70px;
    width:365px;
    font-weight: 700;
    height: 250px;
}
a
{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.headcontent
{
    font-size: 16px;
    width: 300px;
    height: auto;
}
.option
{
    display: flex;
    gap: 30px;
}
h6
{
    font-size: 15px;
}
.companies
{
    display: flex;
    gap: 20px;
}
.shop
{
    background-color: red;
    
}
button
{
    border-radius: 10px;
    height: 35px;
    width: 100px;
    font-weight: bold;
}
.availability
{
    margin-top: -10px;
}
.cards
{
    
    display: flex;
    width:40%;
}
.prev, .next
{
    cursor: pointer;
    font-size:60px;
}
/* section
{
    display: flex;
} */